.tile {
  display: grid;
  overflow: hidden;
  border-radius: 4px;
}


.up {
  animation: up .3s ease-out both;  
}

.down {
  animation: down .3s ease-out both;  
}

.left {
  animation: left .3s ease-out both;  
}

.right {
  animation: right .3s ease-out both;  
}

@keyframes up {
from {
  transform: translateY(100%);
  filter: blur(6px);
}
  to {
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    transform: translateY(-100%);
    filter: blur(6px);
  }
    to {
      transform: translateY(0);
    }
  }

  @keyframes right {
    from {
      transform: translateX(-100%);
      filter: blur(6px);
    }
      to {
        transform: translateX(0);
      }
    }
    
    @keyframes left {
      from {
        transform: translateX(100%);
        filter: blur(6px);
      }
        to {
          transform: translateX(0);
        }
      }