.main {
  position: relative;
  background-color: rgb(209, 181, 185);
  width: 100vw;
  height: 100vh;
}


.reset {
  width: 12vmin;;
  text-align: center;
  color: white;
  background-color: #888;
  font-size: 3vmin;
  padding: 1vmin;
}

@media(orientation: portait) {
.reset {
font-size: 6vmin;
}
}

.source{
  z-index: 1;
  position: absolute;
  bottom: 1vmin;
  right: 1vmin;
}

